.car-image-kszk {
  position: relative;
}

.car-text-kszk {
  position: absolute;
  width: 100%;
  top: 0px;
  -webkit-text-fill-color: white;
  -webkit-text-stroke-color: black;
  -webkit-text-stroke-width: 0.75px;
}
